modules = ["php-8.2"]
run = "php -S 0.0.0.0:5000 -t public"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "php -S 0.0.0.0:5000 -t public"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Start PHP Server"

[[workflows.workflow]]
name = "Start PHP Server"
author = 29877698
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -S 0.0.0.0:5000 -t public"
